.postscontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.profilepic-container {
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    padding: 30px;
}
