.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-row {
    padding: 100px
}

.card-div {
    padding: 20px;
}

.card-info {
    text-align: center;
    padding: 30px;
    border: 1px solid grey;
}

.match-image {
    width: 150px;
    margin: 0px;
    border-radius: 50%;
    align-self: center;
}

.message-button:hover {
    color: blue;
    background-color: purple
}