.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-row {
    padding: 100px
}

.card-div {
    padding: 20px;
    max-width: 250px;
}

.card-info {
    text-align: center;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.match-image {
    width: 150px;
    margin: 0px;
    border-radius: 50%;
    align-self: center;
}

.message-button:hover {
    color: blue;
    background-color: purple
}

.match-info {
    padding: 10px;
}

.message-btn {
    margin-top: 10px;
}