.family-div {
    text-align: center;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.family-picture {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.picture-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
}

.family-picture-container {
    overflow: visible;
}

#family-picture-border {
    padding: 5px;
}

.family-image {
    width: 150px;
    margin: 0px;
    border-radius: 50%;
    align-self: center;
    display: inline-block
}

.ace-image {
    max-width: 300px;
}
