.footer {
    width: 100%;
    padding: 100px;
    bottom: 0;
    background: white;
    border-top: 3px solid grey;
}

.family-image {
    width: 150px;
    margin: 0px;
    border-radius: 50%;
    align-self: center;
    padding: 10px;
    display: inline-block
}