#list-header {
    margin-top: 40px;
    padding: 40px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sticky-left {
    position: -webkit-sticky;
    position: fixed;
    top: 100px;
    left: 0;
    width: 250px;
    height: 100%;
    z-index: 20;
    padding: 20px;
}

.sticky {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recent-title {
    padding: 10px;
}

.recent-block {
    padding: 10px;
    border-top: 2px solid #D3D3D3;
    border-bottom: 2px solid #D3D3D3;
}

.recent-timestamp {
    color: #A9A9A9
}