#chat {
    max-height: calc(50vh - 128px);
    overflow: scroll;
    padding: 16px;
  }

#message-header {
  padding: 100px 100px 20px 100px;
}

.message-header-row {
  margin: 40px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
  .name {
    color: rgba(0, 0, 0, 0.54);
  }
  
  .content {
    margin-bottom: 8px;
  }

.chat-class {
  display: flex;
  padding: 5px 0px;
}

.chat-time-stamp {
  flex-grow: 1;
  text-align: right;
  color: grey
}

.match-image {
  width: 150px;
  margin: 0px;
  border-radius: 50%;
  align-self: center;
}