#chat {
    max-height: calc(50vh - 128px);
    overflow: scroll;
    padding: 16px;
  }

#message-header {
  padding: 20px 100px 20px 100px;
}

.message-header-row {
  margin: 40px 0px;
}

.message-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.name {
    color: rgba(0, 0, 0, 0.54);
}
  
.content {
    margin-bottom: 8px;
}

.chat-class {
  display: flex;
  padding: 5px 10px;
}

.chat-time-stamp {
  flex-grow: 1;
  text-align: right;
  color: grey
}

.chat-time-stamp-user {
  flex-grow: 1;
  text-align: left;
  color: grey
}

.match-image {
  width: 150px;
  margin: 0px;
  border-radius: 50%;
  align-self: center;
}


.message-form {
  padding: 0px 20px;
}

.other-profile-container {
  display: flex;
}

.match-profile {
  padding-left: 40px;
}

.chat-content-user {
  background-color: #66CCFF;
  color: white;
  padding: 5px;
  border-radius: 25px;
}

.chat-content-match {
  background-color: #C0C0C0;
  padding: 5px;
  border-radius: 25px;
}